body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header, .main, .footer {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.heading {
    text-align: center;
    color: #333;
}

.sub-heading {
    text-align: center;
    color: #333;
}

.profile-image {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.bio {
    line-height: 1.6;
}

.section {
    margin-bottom: 20px;
}

.section-heading {
    color: #333;
    margin-bottom: 10px;
}

.link {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.link:hover {
    color: #007bff;
}

.social-links {
    text-align: center;
    margin-top: 20px;
}

.social-link {
    display: inline-block;
    margin: 0 5px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    background-image: url('background.jpg');
    background-size: cover;
}

.navbar a {
    float: left;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.navbar a.active {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
}
.navbar a.bctive {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    float: right;
    display: block;
}